:root{

    --primary-90:#ACD0E7;
    --primary-100:#156191;
    --main-gradient:linear-gradient(#ACD0E7, white);
}

.medi-main-gradient{
    background-image: var(--main-gradient);
}
.madi-bg-primary{
    background-color: var(--primary-90);
}
.madi-bg-primary-100{
    background-color: var(--primary-100);
}
.medi-text-100{
    color: var(--primary-100);
}